body{
    background-image: url('Background.jpg');
    height: 50%;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover; 
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    font-family: 'Castellar', cursive;
    font-size: large;
  }
  
  h1{
    color: white;
  }
  
  div{
    position: sticky;
    margin-top: 100px;
    margin-left: 250px;
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: rgba(102, 16, 59, 0.9);
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 70%;
    background: transparent;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    color: white;
    font-size: large;
  }
  
  input[type="text"]::placeholder{
    color: white;
    font-size: medium;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: medium;
    border-radius: 5px;
  }
  
  ol {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
    color: white;
    font-size: large;
    text-align: left;
    margin-left: 90px;
    font-size: larger;
    font-weight: 200;
    font-family: 'Comic sans ms', serif;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .completed {
    text-decoration: line-through;
  }